<div class="forb">
        <header class="header" *ngIf="post$ | async as post; else loading">
            <div class="container">
                <div class="header__inner">
                    <h1 class="nav__link">{{ post.title }}</h1>
                    <div class="nav" >

                          <a routerLink="/" class="nav__link">General</a>
                    </div>
                 </div>
            </div>
        </header>

    <div *ngIf="post$ | async as post; else loading" class="intro">

        <div class="intro__inner">
            <div class="inner__title"><small class="inner__small">Post Author</small> {{ post.author }}</div>
            <quill-view-html [content]="post.text" class="inner__quill"></quill-view-html>
            <small class="inner__text">{{ post.date | date:'medium':null }}</small>
        </div>

    </div>

</div>





    <ng-template #loading >
  <div class="loading">
    <div></div>
  </div>
</ng-template>
