<div class="forback">
<header class="header">
    <div class="header__inner">
      <a class="header__text" [routerLink]="['/']">G-Blog</a>
      <ul class="nav" *ngIf="auth.isAuthenticated()">
        <li routerLinkActive="active" class="nav__link">
          <a [routerLink]="['/admin', 'dashboard']" class="nav__link">General</a>
        </li>
        <li routerLinkActive="active" class="nav__link">
          <a [routerLink]="['/admin', 'create']" class="nav__link">Create</a>
        </li >
        <li class="nav__link" >
          <a href="#" (click)="logout($event)" class="nav__link">Exit</a>
        </li>
      </ul>
    </div>

</header>

<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="inner__title">Create New Post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Post Name:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Write Correct Post Name
      </small>
      <small *ngIf="form.get('title').errors.maxlength">
        Not more then 20 Symbols
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Post Content:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Post Author:</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation"
    >
      <small *ngIf="form.get('author').errors.required">
        Write Correct Author Name
      </small>
      <small *ngIf="form.get('author').errors.maxlength">
        Not more then 20 Symbols
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create Post</button>
</form>
</div>
